body{margin:0;background-image:url('img/bg2.jpg');}
#container{text-align: center;}
#wrapperImg{padding: 50px; text-align: center}
#date_format{font-size: 12px;color:firebrick}

#loginWrapper{
 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 4px solid sandybrown;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
   padding:4px;
   width:14%;
   margin:16%;
   margin-left:550px;
}
#loginWrapper:hover{border: 4px solid #3b5998;}
 
 .buttons{margin:3px;background-color:#3b5998;border:1px solid #133783;color:white;}
 .buttons:hover{cursor:pointer;opacity:0.8;}
 #admin_field{color:crimson;}
 table{margin: 0 auto;}
 table,th,td
{
border:1px solid #303030;
}
th{background-color:sandybrown; color: white; }
td{background-color:white;color:black;text-align:center;}
td a{color:black;}
header{background-image:url('img/banner.jpg');border-bottom:1px solid #303030;opacity:0.9; }
h2{color:white;margin:0px;margin-left:19px;font-weight:bold;}
.exit{float:right;margin-right:10px;text-decoration:none;color:white;font-weight: bold;}
.exit:hover{opacity:0.7;color:#3b5998}
.users{float:right;margin-right:10px;text-decoration:none;color:white;font-weight: bold;}
.users:hover{opacity:0.7;color:#3b5998}
.sayHello{color:white;margin-left:92%;}
.dashboard{margin-right:10px;text-decoration:none;color:white;font-weight: bold;float:right;}
.dashboard:hover{opacity:0.7;color:#3b5998}
nav{margin-bottom:19px;}
#comments{  width: 10% ;
  margin-left: auto ;
  margin-right: auto ;text-align:left; padding:3px; border:1px solid #C8C8C8;border-radius:3px;width:400px;background-color: white;}
h4{padding:30px;color:#555555;}
#uplad_menu{padding:30px;}
#regitration{margin: 0px  auto;width:200px;}
#wrapper{padding:30px;}
#deletebtn{margin-left:375px;}
#deletebtn:hover{opacity:0.5;}



